* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(3, 169, 241, 0.9);
}
.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    background-color: #f44336;
    padding: 20px 10px;
    font-size: 26px;
    color: #ddd;
    border-radius: 6px;
    margin: 10px auto;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
}
img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
}
.info-container {
    width: 1080px;
    background-color: #f6f6f6;
    margin: 20px auto 0;
    padding: 20px;
    font-size: 25px;
    overflow: hidden;
    border: 2px solid #2196f3;
}
.info-container .name {
    width: 50%;
    float: left;
}
.info-container .tries {
    width: 50%;
    float: left;
    text-align: right;
}
.memory-game-container {
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto;
}
.memory-game-container.no-clicking {
    pointer-events: none;
}
.memory-game-container .game-block {
    position: relative;
    height: 200px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin: 0 10px 20px;
    cursor: pointer;
    flex: 1 0 200px;
}
.memory-game-container .game-block .front {
    background-color: #333;
    line-height: 200px;
}

.memory-game-container .game-block .front::before {
    content: '?';
    font-size: 150px;
    font-weight: bold;
    color: white;
}
.memory-game-container .game-block .back {
    background-color: #ddd;
    transform: rotateY(180deg);
    
}
.memory-game-container .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 1px solid #2196f3;

}
.memory-game-container .game-block.is-flipped {
    transform: rotateY(180deg);
}